.react-flow__node-default.selected, .react-flow__node-default.selected:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.react-flow__edge-path:hover {
    cursor: pointer;
}

.react-flow__edge-step path {
    stroke-width: 3;
}